<!DOCTYPE html>
<html>
<head>

    {% block css %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('css/fasthover.css') }}" rel="stylesheet" type="text/css" media="all" />

        <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link href="{{ asset('adminStyle/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body>
<hr>

<h1 align="center" style="color:blue;">Fiche de Mission</h1>
<p class="text-warning bg-dark"></p>
<hr>
<p class="text-warning bg-dark"></p>
<p class="text-warning bg-dark" align="center"><u>Lettre Recommandée Avec Accusé de Réception</u></p>
<p class="text-warning bg-dark" align="center"></p>
<p class="text-warning bg-dark"><b>Objet :</b>Mission affectée à <b>{{ data.utilisateur.username }}</b></p>
<p class="text-warning bg-dark" align="center"></p>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <tr align="center">
        <td style="color:blue;"><b><u>Réference</u></b></td>
        <td>{{ data.id }}</td>
    </tr>
    <tr align="center">
        <td style="color:blue;"><b><u>Date Mission</u></b></td>
        <td>{{ data.date |date('d-m-Y') }}</td>
    </tr>
    <tr align="center">
        <td style="color:blue;"><b><u>Adresse Mission</u></b></td>
        <td>{{ data.adresse }}</td>
    </tr>
    <tr align="center">
        <td style="color:blue;"><b><u>Numéro de Téléphone Livreur</u></b></td>
        <td>{{ data.utilisateur.tel }}</td>
    </tr>
    <tr align="center">
        <td style="color:blue;"><b><u>Liste des commandes</u></b></td>
    </tr>
</table>

<br><br>

<table  class="table table-bordered" width="100%" cellspacing="0">
    <thead>
    <tr  align="center">
        <th> Reference </th>
        <th> Nom de client </th>
        <th> Num client </th>
        <th> Montant </th>
    </tr>
    </thead>
    <tbody>
    {% for c in data.getCommandes().toArray() %}
        <br>
        <tr align="center">

            <td> {{ c.reference }}</td>
            <td> {{ c.utilisateur.username }} </td>
            <td> {{ c.utilisateur.tel }}</td>
            <td>{{ c.montant }} DT  </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p class="text-warning bg-dark"></p>
<p class="text-warning bg-dark"></p>
<p class="text-warning bg-dark">Cher livreur, cette nouvelle mission est pour vous, nous vous souhaitons bon travail.</p>
</body>
</html>