{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdministrateurController!{% endblock %}
{% block activeLIV%} active {% endblock %}
{% block css %}
    <link href="{{ asset('adminStyle/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('adminStyle/css/sb-admin-2.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{ asset('adminStyle/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des Livreurs</h1>
        <div class="col-auto">
            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">



        </div>
        <a href="{{ path('livreur_new') }}" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
            <span class="text">Ajouter Livreur</span>
        </a>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>email</th>
                            <th>Telephone</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tfoot>

                        </tfoot>
                        <tbody>
                        {% for i in data %}
                            <tr>
                                <td>{{ i.lastname }}</td>
                                <td>{{ i.username }}</td>
                                <td>{{ i.email }}</td>
                                <td>{{ i.tel }}</td>

                                <td>{% for a in i.getRoles() %}
                                        {% if a == "ROLE_LIVREUR" %}
                                            Livreur
                                        {% elseif a == "ROLE_ADMIN"%}
                                            ADMINISTRATEUR
                                        {% endif %}

                                        <br>{% endfor %}</td>

                                <td><a href="{{ path('updatelivreur',{'idP' :i.id}) }}" class="btn btn-warning btn-circle">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="{{ path('deletlivreur',{'idP' :i.id}) }}" class="btn btn-warning btn-circle ">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('adminStyle/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('adminStyle/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('adminStyle/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('adminStyle/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ asset('adminStyle/vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('adminStyle/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('adminStyle/js/demo/datatables-demo.js') }}"></script>
{% endblock %}
