{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdministrateurController!{% endblock %}
{% block activef %} active {% endblock %}
{% block css %}
    <link href="{{ asset('adminStyle/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css"
          xmlns="http://www.w3.org/1999/html">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('adminStyle/css/sb-admin-2.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{ asset('adminStyle/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <h2 class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des Fournisseur</h1>

        {% for message in app.flashes ('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div
        {% endfor %}

        {% for message in app.flashes ('info') %}
        <div class="alert alert-warning">
            {{ message }}
        </div
            {% endfor %}


        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>nom_fournisseur</th>
                            <th>adresse_fournisseur</th>
                            <th>MDP_fournisseur</th>
                            <th>image_fournisseur</th>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>id</th>
                            <th>nom_fournisseur</th>
                            <th>adresse_fournisseur</th>
                            <th>MDP_fournisseur</th>
                            <th>image_fournisseur</th>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>

                        </tfoot>
                        <tbody>

                        {% for f in fournisseur %}
                            <tr>
                                <td>{{ f.id }}</td>
                                <td>{{ f.nomfournisseur}}</td>
                                <td>{{ f.adressefournisseur}}</td>
                                <td>{{ f.MDPfournisseur}}</td>
                                <td><img src ="{{ asset('images/' ~  f.image) }}"
                                         alt =" style "width: 5px;height: 5px;"></td>

                                <td>
                                    <a href="{{ path('updateF',{'id':f.id , 'username':f.nomfournisseur}) }}" class="btn btn-info btn-circle">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('dF',{'id' :f.id , 'username':f.nomfournisseur}) }}" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>



                            </tr>
                        {% endfor  %}

                        </tbody>
                    </table>

                </div>

                <button><a class="btn" href="{{ path('addF') }}" >Ajouter fournisseur</a></button>

            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('adminStyle/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('adminStyle/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ asset('adminStyle/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('adminStyle/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ asset('adminStyle/vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('adminStyle/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('adminStyle/js/demo/datatables-demo.js') }}"></script>
{% endblock %}
